{% load get_step_url from exceptional_review_procedure %}

<h2 class="heading-medium">Feedback form details</h2>

<dl class="govuk-summary-list">
  {% include 'core/summary/section-how-affected.html' with label='As a UK business trade organisation' %}
  {% include 'core/summary/section-user-type.html' with label='I produce the affected goods in the UK' %}
  {% include 'core/summary/section-affected-goods.html' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which developing country are you from?</dt>
    <dd class="govuk-summary-list__value">{{ summary.country }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'country' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">What were your UK sales volume before Brexit?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-sales-volume-before-brexit.html' %}
</dl>

<h2 class="heading-medium">What were your UK export volumes before Brexit?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-sales-revenue-before-brexit.html' %}
</dl>

<h2 class="heading-medium">Are you aware of changes to UK imports for these goods since Brexit?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-sales-after-brexit.html' %}
</dl>

<h2 class="heading-medium">Are you aware of changes to your sales for these goods since Brexit?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-market-change.html' %}
</dl>

<h2 class="heading-medium">What outcome are you seeking for these goods?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-tariff-change.html' %}
  {% include 'core/summary/section-other-information.html' %}
</dl>

<h2 class="heading-medium">Your business details</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-business-details.html' %}
</dl>

<h2 class="heading-medium">Your personal details</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-personal-details.html' %}
</dl>
