<h2 class="heading-medium">Feedback form details</h2>

<dl class="govuk-summary-list">
  {% include 'core/summary/section-user-type.html' with label='I represent one or more businesses in the UK' %}
  {% include 'core/summary/section-imported-from-overseas.html' with answer='Yes' %}
  {% include 'core/summary/section-affected-goods.html' %}
</dl>
{% if summary.imported_goods_makes_something_else == 'Yes' %}
  <h2 class="heading-medium">Are these goods used to making something else?</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Industry of product or service</dt>
      <dd class="govuk-summary-list__value">{{ summary.imported_good_sector }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url view.url_name step='imported-products-usage' %}">Change<span class="govuk-visually-hidden"> industry</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description of product or service</dt>
      <dd class="govuk-summary-list__value">{{ summary.imported_good_sector_details }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url view.url_name step='imported-products-usage' %}">Change<span class="govuk-visually-hidden"> comment</span></a>
      </dd>
    </div>
  </dl>
{% endif %}

<h2 class="heading-medium">Your sales volume before brexit</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-sales-volume-before-brexit.html' %}
</dl>

<h2 class="heading-medium">Your sales revenue before brexit</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-sales-revenue-before-brexit.html' %}
</dl>

<h2 class="heading-medium">Your imports after brexit</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-demand-after-brexit.html' %}
</dl>

<h2 class="heading-medium">Changes in the wider UK market after brexit</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-market-change.html' %}
</dl>

<h2 class="heading-medium">Other changes to your business after brexit</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-other-changes-after-brexit.html' %}
  {% include 'core/summary/section-market-size.html' %}
</dl>

<h2 class="heading-medium">What percentage of your production do these goods make up?</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Percentage of total production volume</dt>
    <dd class="govuk-summary-list__value">{{ summary.production_volume_percentage }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='production-percentage' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Percentage of total production costs</dt>
    <dd class="govuk-summary-list__value">{{ summary.production_cost_percentage }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='production-percentage' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Where do you import from?</dt>
    <dd class="govuk-summary-list__value">{{ summary.import_countries|join:', ' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='which-countries' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Are there equivalent goods made in the UK?</dt>
    <dd class="govuk-summary-list__value">{{ summary.equivalent_uk_goods }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='equivalent-uk-goods' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  {% if summary.equivalent_uk_goods == 'Yes' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Equivalent goods details</dt>
      <dd class="govuk-summary-list__value">{{ summary.equivalent_uk_goods_details }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url view.url_name step='equivalent-uk-goods' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
      </dd>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you know the total UK market value of these goods</dt>
    <dd class="govuk-summary-list__value">{{ summary.market_size_known }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  {% if summary.market_size_known == 'Yes' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Financial year</dt>
      <dd class="govuk-summary-list__value">{{ summary.market_size_year }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Market value</dt>
      <dd class="govuk-summary-list__value">{{ summary.market_size }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
      </dd>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Other information</dt>
    <dd class="govuk-summary-list__value">{{ summary.other_information }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% url view.url_name step='other-information' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">What outcome are you seeking for these goods?</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-tariff-change.html' %}
</dl>

<h2 class="heading-medium">Your business details</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-business-details.html' %}
</dl>

<h2 class="heading-medium">Your personal details</h2>
<dl class="govuk-summary-list">
  {% include 'core/summary/section-personal-details.html' %}
</dl>
