<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Registered company name</dt>
  <dd class="govuk-summary-list__value">{{ summary.company_name }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Which industry is your company in?</dt>
  <dd class="govuk-summary-list__value">{{ summary.sector }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How many people does your company employ?</dt>
  <dd class="govuk-summary-list__value">{{ summary.employees }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">What was your business annual turnover for 2018-2019</dt>
  <dd class="govuk-summary-list__value">{{ summary.turnover }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
