<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Q3 2019</dt>
  <dd class="govuk-summary-list__value">{{ summary.quarter_three_2019_sales_revenue }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Q2 2019</dt>
  <dd class="govuk-summary-list__value">{{ summary.quarter_two_2019_sales_revenue }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Q1 2019</dt>
  <dd class="govuk-summary-list__value">{{ summary.quarter_one_2019_sales_revenue }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Q4 2018</dt>
  <dd class="govuk-summary-list__value">{{ summary.quarter_four_2018_sales_revenue }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
  </dd>
</div>
