{% load get_step_url from exceptional_review_procedure %}

<div class="govuk-summary-list__row">
  <dd class="govuk-summary-list__value">{{ summary.has_other_changes }}</dd>
  <dt class="govuk-summary-list__key"></dt>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% get_step_url 'other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
{% if form_values.has_other_changes %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Actual change</dt>
    <dd class="govuk-summary-list__value">{% if 'ACTUAL' in form_values.has_other_changes_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expected change</dt>
    <dd class="govuk-summary-list__value">{% if 'EXPECTED' in form_values.has_other_changes_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Tell us more</dt>
    <dd class="govuk-summary-list__value">{{ summary.other_changes_comment }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
{% endif %}
