{% load get_step_url from exceptional_review_procedure %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Tariff rate change</dt>
  <dd class="govuk-summary-list__value">{{ summary.tariff_rate }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% get_step_url 'outcome' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Tariff quota change</dt>
  <dd class="govuk-summary-list__value">{{ summary.tariff_quota }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% get_step_url 'outcome' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
