{% load get_step_url from exceptional_review_procedure %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Sales volume</dt>
  <dd class="govuk-summary-list__value">{{ summary.has_market_size_changed }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
{% if form_values.has_market_size_changed %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Actual change in volume</dt>
    <dd class="govuk-summary-list__value">{% if 'ACTUAL' in form_values.market_size_changed_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expected change in volume</dt>
    <dd class="govuk-summary-list__value">{% if 'EXPECTED' in form_values.market_size_changed_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Tell us more</dt>
    <dd class="govuk-summary-list__value">{{ summary.market_size_change_comment }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
{% endif %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Price change</dt>
  <dd class="govuk-summary-list__value">{{ summary.has_market_price_changed }}</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
  </dd>
</div>
{% if form_values.has_market_price_changed %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Actual change in price</dt>
    <dd class="govuk-summary-list__value">{% if 'ACTUAL' in form_values.market_price_changed_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expected change in price</dt>
    <dd class="govuk-summary-list__value">{% if 'EXPECTED' in form_values.market_price_changed_type %}Yes{% else %}No{% endif %} </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Tell us more</dt>
    <dd class="govuk-summary-list__value">{{ summary.market_price_change_comment }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{% get_step_url 'market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
    </dd>
  </div>
{% endif %}
