@import 'partials/base';
@import 'partials/colours';
@import 'partials/hierarchy-tree';

#selected-values-container {
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $stone-20;

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  button {
    text-align: left;
    background-color: $white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 10px;
    margin-right: 15px;
    display: inline-block;
    font-size: 19px;
    border: 1px solid $grey;
    cursor: pointer;
    &:focus {
      box-shadow: 0 0 0 2pt $focus-yellow;
    }
  }
}

.breadcrumb-item-last:after,
.breadcrumb-item:after,
.govuk-search-previous:before {
    font-size: 16px;
    color: #000;
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
}

.breadcrumb-item:after {
    content: "\25B6";
}

.form-group.prefix-pound {
  position: relative;
  input,
  textarea {
    margin-left: 15px;
  }
  &:before {
    content: '£';
    position: absolute;
    bottom: 5px;
  }
}

.form-group.suffix-percentage {
  position: relative;
  &:after {
    content: '%';
    position: absolute;
    bottom: 5px;
    right: -16px;
  }
}

.input-field-container {
  width: 75%;
  .form-control,
  .autocomplete__wrapper,
  .tickboxes-scroll .form-group {
    width: 100%; 
  }
}

.form-group > .form-label {
  font-weight: bold;
}

.radio-nested-container {
  margin-bottom: 50px;
  input[type=radio]:not(:checked) + label + .radio-nested {
    display: none;
  }
  > .form-group {
    margin-bottom: -20px;
  }
  .radio-nested {
    padding-top: 0;
    padding-bottom: 0;
    border-left-width: 4px;
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: -20px;
    .form-group {
      margin-top: 10px;
      margin-bottom: 0;
      > .form-label {
       padding-left: 0;
       font-weight: normal;
       width: 100%;
      }
      // override .multiple-choice input which hides input boxes.
      input[type=text] {
        position: inherit;
        cursor: inherit;
        left: inherit;
        top: inherit;
        height: inherit;
        z-index: inherit;
        zoom: inherit;
        filter: inherit;
        opacity: inherit;
      }
      input, select, textarea {
        width: 100%;
      }
    }
    .form-group-error {
      margin-left: -19px;
      border-width: 4px;
    }
  }
}

.tickboxes-scroll {
  .form-group {
    height: 200px;
    overflow-y: scroll;
    overflow-x: visible;
    padding-left: 5px;
  }
}

.text-right {
  text-align: right;
}

.govuk-section-break--visible {
  background: none;
}

.search-product-select-button {
  &:hover {
    background-color: $govuk-link-blue-alt;
    color: $white;
  }
  background-color: $govuk-link-blue;
  color: $white;
  margin: 0.2em 0 0 0;
  padding: 0.6em 0.7em 0.4em 0.7em;
  width: 8em;
  border: none;
  cursor: pointer;
}

.govuk-search-pagination {
  display: flex;
  .govuk-search-next {
    display: inline-block;
    a {
      text-decoration: none;
      span {
        text-decoration: underline; 
      }
      &:before {
        content: '→';
      }
    }
  }

  .govuk-search-previous {
    display: inline-block;
    a {
      text-decoration: none;
      span {
        text-decoration: underline; 
      }
      &:before {
        content: '←';
      }
    }
  }  
}

.govuk-panel--confirmation {
  background-color: #48A197; 
}
