{% extends 'directory_components/base.html' %}
{% load static %}

{% block head_title %}Welcome to ERP{% endblock %}

{% block head_js %}
{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'styles/govuk-frontend-3.2.0.min.css' %}" rel="stylesheet" />
  <link href="{% static 'styles/all.css' %}" rel="stylesheet" />
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <link rel="mask-icon" href="{% static 'images/govuk-mask-icon.svg' %}" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/govuk-apple-touch-icon-180x180.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'images/govuk-apple-touch-icon-167x167.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/govuk-apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/govuk-apple-touch-icon.png' %}">
{% endblock %}

{% block head_js_ga360 %}
{% endblock %}
{% block head_sharing_metadata %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  {% block sharing_description %}
    <meta name="description" content="Report ERP feedbac">
  {% endblock %}
{% endblock %}


{% block body_header %}
  {% include 'core/header.html' %}
{% endblock %}

{% block body_footer %}
  {% include 'core/footer.html' %}
{% endblock %}

{% block body_content_container %}
    <div class="govuk-width-container {% block css_layout_class %}{% endblock css_layout_class %}">
        <main id="content" class="govuk-main-wrapper govuk-!-margin-bottom-9">
          <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
              </strong>
              <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
              </span>
            </p>
          </div>
          {% block content %}{% endblock %}
        </main>
        {% block content_after %}{% endblock %}
    </div>
{% endblock %}
