{% extends 'core/base.html' %}
{% load breadcrumbs from directory_components %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Form submitted
          </h1>
        </div>
        <p>We've sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We've sent your form to to our Trade Policy team.</p>
        <p>We'll get in touch if we need more information or when the tariff has changed.</p>
        <a href="{% url view.url_name step='type' %}">Submit another form</a>
        <div class="govuk-!-padding-top-6">
          <a href="https://www.gov.uk">Return to Gov.uk</a>
        </div>
      </div>
    </div>
{% endblock%}
