{% extends 'core/base.html' %}
{% load breadcrumbs from directory_components %}
{% block content %}
    {% breadcrumbs '[Breadcrumbs TBD]' %}<a href="#">Home</a>{% endbreadcrumbs %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Feedback on UK import tariff rate change</h1>
        <p>{% lorem %}</p>

        <a href="{% url 'user-type-routing' step='user-type' %}" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--start govuk-!-margin-top-6" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body">[Related content TBD]</p>
      </div>
    </div>
{% endblock%}
