{% extends 'core/base.html' %}
{% load breadcrumbs from directory_components %}
{% block content %}
    {% breadcrumbs 'Privacy Policy' %}<a href="{% url 'landing-page' %}">Home</a>{% endbreadcrumbs %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Privacy Policy</h1>
        <p>This  notice  sets  out  your  rights  with  respect  to  how  we  will  use  your personal data. The Department for International Trade (DIT) recognises that  it  has  a  duty  to  people  whose  information  it  holds  to  treat  that information responsibly, keep it safe and secure, and process it correctly and   proportionately.   This   Privacy   Notice   broadly   explains   what information we collect, the purpose for processing, categories of personal information and who we may share it with.</p>
        <h2 class="govuk-heading-l">Background</h2>
        <p>This  service,  “Feedback  on  the  UK’s  Temporary  Tariff  Regime”  (also known  as  the  Exceptional  Review  Procedure  (ERP)  is  provided  by  the Department   for   International   Trade   (DIT)   to   allow   UK   businesses, individuals  and  importers  from  countries  with  preferential  tariff  rates  to provide feedback on the impact of the UK’s temporary tariff regime.</p>
        <h2 class="govuk-heading-l">Your Data</h2>
        <p>We collect personal data about you which covers details such as:</p>
        <ul class="govuk-list govuk-list--bullet">
        	<li>Full Name</li>
        	<li>Last Nafme</li>
        	<li>Organisation Name</li>
        	<li>Organisation or Personal email address (if a UK customer)</li>
        	<li>Number of employees in organisation</li>
        </ul>
        <h2 class="govuk-heading-l">Purpose</h2>
        <p>The Department for International Trade (DIT) will collect, hold and process personal  information  about  organisations  for  the  purposes  of  assessing the impact of tariffs on certain sectors/industries and determining the tariff policy.</p>
        <p>We may use the information you provide to us for consultation purposes, in  order  to  allow  DIT  and  other  government  departments  to  effectively target and plan the provision of future services. As part of this consultation process, you may be contacted.</p>
        <p>We will not use your personal information for any other purposes, apart from what has been specified. However, if we intend to use it for any other new purpose/s we will ask you first.  For instance, in some cases, DIT may wish   to   use   your   information   for   improving   and   developing   our services. We will notify you of any significant changes or where necessary contact you for the purposes of obtaining consent.</p>
        <p>The  legal  bases  used  to  process  your  personal  information  is  the performance of a public task (i.e. a task in the public interest or an official function which, in either case has a clear basis in law). It is necessary for DIT to perform this official function which has a clear basis in law.</p>
        <h2 class="govuk-heading-l">How we may share your information</h2>
		<p>We  will  share  information  with  other  government  departments  including but not limited to HM Treasury, Department for Environment Food Rural Affairs,  Business  Energy  and  Industrial  Strategy  and  Department  for Transport  to  enable  the  review  of  the  submissions,  the  development  of policy recommendations and the assessment of the tariff policy’s impact on sectors/ industries. We will use Companies House lookup to find UK company details using the company name provided.</p>
		<p>Please be aware that, in accordance with the Freedom of Information Act 2000,  public  bodies  are  required  to  comply  with  a  statutory  code  of practice  which  includes  obligations  of  confidence.  In  view  of  this,  if  you wish for your information to be treated confidentially, it would be helpful if you could explain to us the reason. If we receive a Freedom of Information request for disclosure of that information, we will take full account of your explanation, but we cannot give an assurance that confidentiality can be maintained in all circumstances.</p>
        <h2 class="govuk-heading-l">How long we keep your information</h2>
        <p>We will retain your personal information for up to three years to fulfil the purposes we collected it for, including the purposes of satisfying any legal, accounting, or reporting requirements beyond the ERP period.</p>
        <h2 class="govuk-heading-l">Your rights and access to your information</h2>
        <p>You have the right to request a copy of the information that we hold about you. The UK Data Protection Act 2018 also gives you additional rights that refer  to  how  DIT  holds  and  uses  your  information. Consequently,  under certain circumstances, by law you have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
        	<li>withdraw  consent  and  the  right  to  object  and  restrict  further processing  of  your  data;  however,  where  legally  enforceable  this may affect the service, we are able to provide to you. This applies to  processing  where  the  legal  basis  for  processing  your  personal information is consent.</li>
        	<li>request  to  have  your  data  deleted  where  there  is  no  compelling reason  for  its  continued  processing  and  provided  there  are  no legitimate grounds for retaining it.</li>
        	<li>request your data to be rectified if it is inaccurate or incomplete</li>
        	<li>not be subject to automated decision-making including profiling</li>
        </ul>
        <h2 class="govuk-heading-l">Identity and contact details</h2>
        <p>The Department for International Trade is registered as a Data Controller under  the  General  Data  Protection  Regulation  and  Data  Protection  Act 2018. Our contact details are:</p>
        <ul class="govuk-list">
	        <li>Data Protection Officer</li>
	        <li>55 Whitehall Place</li>
	        <li>Westminster</li>
	        <li>London</li>
	        <li>SW1A 2HP</li>
	        <li>Email: <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a></li>
        </ul>

        <h2 class="govuk-heading-l">Contact Details</h2>
        <p>You have a right to complain to us if you think we have not complied with our obligation for handling your personal information. You can contact: <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a></p>
        <ul class="govuk-list">
	        <li>Data Protection Team</li>
	        <li>Department for International Trade</li>
	        <li>3 Whitehall Place</li>
	        <li>London SW1A 2AW</li>
	        <li>United Kingdom</li>
	    </ul>
        <p>If  you  are  not  satisfied  with  the  Departments  for  International  Trades response you have a right to complain to the Information Commissioner’s Office (ICO).  You can report a concern by visiting <a href="https://www.ico.org.uk">www.ico.org.uk</a></p>
        <p>For more information about your rights under the Data Protection Act or to   request a copy of any data held about you please contact <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a>.</p>
      </div>
    </div>
{% endblock%}
