{% extends 'core/base.html' %}
{% load breadcrumbs from directory_components %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                <h1 class="govuk-panel__title">Complete</h1>
            </div>
            <p>We've sent you a confirmation email, with a unique link. (it will expire in 72 hours)</p>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
            <p class="govuk-!-margin-bottom-9">You will be able to return to the feeback form with your information at any time.</p>
            <a href="{{ return_url }}">Continue</a>
        </div>
    </div>
{% endblock%}
