{% extends 'core/base.html' %}
{% load breadcrumbs from directory_components %}
{% block content %}
    <div class="govuk-grid-row padding-top-45">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Give feedback on the UK’s temporary tariff regime rates</h1>
        <p>If the UK leaves the EU without a deal on 31 October 2019 a temporary tariff regime will go into effect on imported goods. This will change import tariff rates and quotas on some goods for up to 12 months.</p>
        <p>Use this service, available from {{ service_availability_start_date|date:"j F Y" }} to {{ service_availability_end_date|date:"j F Y" }}, to give feedback on how the tariff rate changes have affected you or your business. We encourage you to <a href="https://www.gov.uk/guidance/check-temporary-rates-of-customs-duty-on-imports-after-eu-exit">check temporary tariff rates</a> before you start.</p>
        <p>This service is for:</p>
        <ul class="list list-bullet">
          <li>UK businesses or trade organisations</li>
          <li>UK consumers or consumer representatives</li>
          <li>developing country exporters on the UK’s <a href="https://www.gov.uk/guidance/generalised-scheme-of-preferences-countries">Generalised Scheme of Preferences</a></li>
        </ul>
        <p>This service is available from {{ service_availability_start_date|date:"j F Y" }} to {{ service_availability_end_date|date:"j F Y" }}. The government will look at the feedback given through this service. If there’s evidence of significant and demonstrable impact, the temporary tariff regime rates will be reviewed as part of the government’s Exceptional Review Process.</p>
        <p>Your feedback will be used to inform these reviews.</p>
        <p>To give feedback, you'll need:</p>
        <ul class="list list-bullet">
          <li>product names or commodity codes of the goods affected</li>
          <li>details of business impact, like sales, profitability and employment, if applicable</li>
          <li>business details like staff numbers, quarterly revenue and sales volume for the affected goods, if applicable</li>
          <li>details of changes to consumer price and choice if you represent one or more UK consumers</li>
        </ul>
        <p>This is not a service to:</p>
        <ul class="list list-bullet">
          <li><a href="https://www.gov.uk/guidance/report-a-trade-barrier">report trade barriers</a></li>
          <li>feedback on UK export tariff rates</li>
          <li>respond to the UK’s planned consultation for permanent tariff policy</li>
        </ul>
        <p>Please return to this page on {{ service_availability_start_date|date:"j F Y" }} to use the service.</p>
      </div>
    </div>
{% endblock%}
