{% extends 'core/wizard-step-base.html' %}

{% block head_title %}ERP - great.gov.uk{% endblock %}

{% block step_title %}Check your answers before submitting your form{% endblock %}

{% block extra_contents %}
    <dl class="govuk-summary-list">
      <h2 class="heading-medium">Section 1</h2>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which of these best describes you?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ all_cleaned_data.type }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url 'wizard' step='type' %}">
            Change<span class="govuk-visually-hidden"> type</span>
          </a>
        </dd>
      </div>

      <h2 class="heading-medium">Section 2</h2>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the combined Nomenclature (CN) code for the products in question
        </dt>
        <dd class="govuk-summary-list__value">
          {{ all_cleaned_data.product }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url 'wizard' step='product' %}">
            Change<span class="govuk-visually-hidden"> products</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What kind of outcome are you looking for from the UK Government about hte products in question?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ all_cleaned_data.outcome }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url 'wizard' step='outcome' %}">
            Change<span class="govuk-visually-hidden"> expected outcome</span>
          </a>
        </dd>
      </div>
    </dl>
    <h2 class="heading-medium">Now submit your form</h2>
    <p>By submitting this form you are conforming that, to the best of your knowledge, the details you are providing are correct.</p>
{% endblock %}
