{% extends 'core/wizard-step-base.html' %}

{% block head_title %}ERP - great.gov.uk{% endblock %}

{% block step_title %}What has been the actual or expected change to your business{% endblock %}


{% block above_form %}
    <p>Please give a percentage value. If you don't know, leave this blank.</p>
{% endblock %}

{% block form %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">Sale volume:</h1>
        </legend>
        {% include 'directory_components/form_widgets/form_field.html' with field=form.sale_volume_actual %}
        {% include 'directory_components/form_widgets/form_field.html' with field=form.sale_volume_expected %}
    </fieldset>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">Production levels:</h1>
        </legend>
        {% include 'directory_components/form_widgets/form_field.html' with field=form.production_levels_actual %}
        {% include 'directory_components/form_widgets/form_field.html' with field=form.production_levels_expected %}
    </fieldset>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">Profitability:</h1>
        </legend>
        {% include 'directory_components/form_widgets/form_field.html' with field=form.profitability_actual %}
        {% include 'directory_components/form_widgets/form_field.html' with field=form.profitability_expected %}
    </fieldset>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">Employment:</h1>
        </legend>
        {% include 'directory_components/form_widgets/form_field.html' with field=form.employment_actual %}
        {% include 'directory_components/form_widgets/form_field.html' with field=form.employment_expected %}
    </fieldset>
{% endblock %}
