{% extends 'core/wizard-step-base.html' %}

{% block head_title %}ERP - great.gov.uk{% endblock %}
{% block step_title %}What share of your total production costs do these goods make up?{% endblock %}
{% block caption %}
<span>Please include all fixed and variable costs involved in making the end product. This helps us assess the impact to your business.</span>
<br><br>
<span>For trade associations, give a cumulative figure as a percentage of total costs across all companies.</span>
{% endblock %}

