{% extends 'core/wizard-step-base.html' %}

{% block head_title %}ERP - great.gov.uk{% endblock %}

{% block step_title %}Check your answers before submitting your form{% endblock %}

{% block progress_indicator %}
{% endblock %}

{% block above_form %}
  {# for UK company #}

    <h2 class="heading-medium">Feedback form details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Which of these best describes you?</dt>
        <dd class="govuk-summary-list__value">I represent one or more businesses from a developing country</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url 'user-type-routing' %}">Change<span class="govuk-visually-hidden"> type</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Are the affected goods imported from overseas?</dt>
        <dd class="govuk-summary-list__value">TBC</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What goods are affected?</dt>
        <dd class="govuk-summary-list__value">{{ summary.commodities|join:', ' }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='product' %}">Change<span class="govuk-visually-hidden"> affected your answer</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">Your sales volume before brexit</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Select a metric</dt>
        <dd class="govuk-summary-list__value">{{ summary.sales_volume_unit }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-volume-before-brexit' %}">Change<span class="govuk-visually-hidden"> unit</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q3 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_three_2019_sales_volume }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-volume-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales volume</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q2 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_two_2019_sales_volume }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-volume-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales volume</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q1 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_one_2019_sales_volume }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-volume-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales volume</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q4 2018</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_four_2018_sales_volume }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-volume-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales volume</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">Your sales revenue before brexit</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q3 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_three_2019_sales_revenue }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q2 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_two_2019_sales_revenue }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q1 2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_one_2019_sales_revenue }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Q4 2018</dt>
        <dd class="govuk-summary-list__value">{{ summary.quarter_four_2018_sales_revenue }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-revenue-before-brexit' %}">Change<span class="govuk-visually-hidden"> sales revenue</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">Changes to your business after brexit</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Volume changes</dt>
        <dd class="govuk-summary-list__value">{{ summary.has_volume_changed }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      {% if summary.has_volume_changed == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual change in volume</dt>
          <dd class="govuk-summary-list__value">{% if 'Actual' in summary.volume_changed_type %}Yes{% else %}No{% endif %}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected change in volume</dt>
          <dd class="govuk-summary-list__value">{% if 'Expected' in summary.volume_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us more</dt>
          <dd class="govuk-summary-list__value">{{ summary.volumes_change_comment }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> your comment</span></a>
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Price changes</dt>
        <dd class="govuk-summary-list__value">{{ summary.has_price_changed }}</dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      {% if summary.has_price_changed == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual change in price</dt>
          <dd class="govuk-summary-list__value">{% if 'Actual' in summary.price_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected change in price</dt>
          <dd class="govuk-summary-list__value">{% if 'Expected' in summary.price_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us more</dt>
          <dd class="govuk-summary-list__value">{{ summary.price_change_comment }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='sales-after-brexit' %}">Change<span class="govuk-visually-hidden"> answer</span></a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <h2 class="heading-medium">Changes in the wider UK market after brexit</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Volume changes</dt>
        <dd class="govuk-summary-list__value">{{ summary.has_market_size_changed }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      {% if summary.has_market_size_changed == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual change in volume</dt>
          <dd class="govuk-summary-list__value">{% if 'Actual' in summary.market_size_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected change in volume</dt>
          <dd class="govuk-summary-list__value">{% if 'Expected' in summary.market_size_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us more</dt>
          <dd class="govuk-summary-list__value">{{ summary.market_size_change_comment }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Price changes</dt>
        <dd class="govuk-summary-list__value">{{ summary.has_market_price_changed }}!!</dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      {% if summary.has_market_price_changed == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual change in price</dt>
          <dd class="govuk-summary-list__value">{% if 'Actual' in summary.market_price_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected change in price</dt>
          <dd class="govuk-summary-list__value">{% if 'Expected' in summary.market_price_changed_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us more</dt>
          <dd class="govuk-summary-list__value">{{ summary.market_price_change_comment }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='market-size-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <h2 class="heading-medium">Other changes to your business after brexit</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Other changes</dt>
        <dd class="govuk-summary-list__value">{{ summary.has_other_changes }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      {% if summary.has_other_changes == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual change</dt>
          <dd class="govuk-summary-list__value">{% if 'Actual' in summary.has_other_changes_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected change</dt>
          <dd class="govuk-summary-list__value">{% if 'Expected' in summary.has_other_changes_type %}Yes{% else %}No{% endif %} </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us more</dt>
          <dd class="govuk-summary-list__value">{{ summary.other_changes_comment }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
      {% endif %}

      {% if summary.market_size_known == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Financial year</dt>
          <dd class="govuk-summary-list__value">{{ summary.market_size_year }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Market value</dt>
          <dd class="govuk-summary-list__value">{{ summary.market_size }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{% url view.url_name step='other-changes-after-brexit' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <h2 class="heading-medium">What outcome are you seeking for these goods?</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tariff rate change</dt>
        <dd class="govuk-summary-list__value">{{ summary.tariff_rate }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='outcome' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tariff quota change</dt>
        <dd class="govuk-summary-list__value">{{ summary.tariff_quota }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='outcome' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">Your business details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Registered company name</dt>
        <dd class="govuk-summary-list__value">{{ summary.company_name }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Which industry is your company in?</dt>
        <dd class="govuk-summary-list__value">{{ summary.sector }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">How many people does your company employ?</dt>
        <dd class="govuk-summary-list__value">{{ summary.employees }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What was your business annual turnover for 2018-2019</dt>
        <dd class="govuk-summary-list__value">{{ summary.turnover }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='business' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">Your personal details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">First name</dt>
        <dd class="govuk-summary-list__value">{{ summary.given_name }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='personal' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last name</dt>
        <dd class="govuk-summary-list__value">{{ summary.family_name }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='personal' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Business email address</dt>
        <dd class="govuk-summary-list__value">{{ summary.email }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{% url view.url_name step='personal' %}">Change<span class="govuk-visually-hidden"> your answer</span></a>
        </dd>
      </div>
    </dl>
    <h2 class="heading-medium">Now submit your form</h2>
    <p>By submitting this form you are conforming that, to the best of your knowledge, the details you are providing are correct.</p>
{% endblock %}
